{% extends 'base.html' %} {% block content %}
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4">
        <div class="card hoverable large">
            <div class="card-image">
                <a href="{{url_for('open_recipe', recipe_id = recipe._id)}}">
                    <img src="{{recipe.photo_link}}">
                    </a>
            </div>
            <div class="card-content">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <a href="{{url_for('open_recipe', recipe_id = recipe._id)}}">
                                <h4 class="title center-align">{{recipe.name.lower()}}</h4>
                            </a>
                        </div>
                    </div>
                    <div class="row card-recipe-info">
                        <div class="col s4 center-align">
                            <label>VIEWS</label>
                            <p>
                                <i class="material-icons">visibility</i> {{recipe.views}}
                            </p>
                        </div>
                        <div class="col s4 center-align">
                            <label>DIFFICULTY</label>
                            <p class="{{recipe.difficulty.lower()}}">{{recipe.difficulty.upper()}}</p>
                        </div>
                        <div class="col s4 center-align">
                            <label>LIKES</label>
                            <p>
                                <a href="{{url_for('increase_likes', recipe_id = recipe._id)}}" id="like-thumb" class="tooltipped" data-position="bottom" data-tooltip="Like"><i class="material-icons">thumb_up</i></a> {{recipe.likes}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}